.ArticleDetails {
	display: flex;
  flex-direction: column;
  padding: 0 1rem;
}

.details-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.details-image > img {
  margin: auto;
  max-width: 90%; /* Set the maximum width to 100% of its container */
  height: 18rem; /* Let the height adjust automatically to maintain aspect ratio */
  object-fit: cover; /* Adjust the object-fit property as needed (cover, contain, etc.) */
  border-radius: .2rem;
}

.preview-text {
  font-weight: bold;
}

.main-text {
  text-align: justify;
}
