.ArticleCard {
	display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  padding-bottom: 1rem;
  margin: .5rem;
  border-bottom: 1px solid var(--color-primary);
}

.ArticleCard:hover {
  background-color: snow;
  transform: scale(1.01);
  transition: var(--transition);
  cursor: pointer;
}

.container-top {
  grid-column: span 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: span 2;
  height: 10rem;
}

.author-date, .views, .comments-number, .tags {
  font-size: 12px;
  font-style: italic;
  text-align: left;
  white-space: nowrap;
  color: var(--color-primary);
}

.author-date {
  display: flex;
  gap: 0.5rem;
}

.container-image > img {
  display: block;
  height: 100%;
  width: 15rem;
  border-radius: .3rem;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
  margin: 0.5rem;
  cursor: pointer;
}

.preview-text {
  text-align: left;
  margin: 0.5rem;
}

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0.5rem;
}

